name = "givc-core-academy-backend"
main = "worker.py"
compatibility_date = "2024-03-12"
compatibility_flags = ["python_workers"]
account_id = "d7b99530559ab4f2545e9bdc72a7ab9b"

[[d1_databases]]
binding = "DB"
database_name = "his_database"
database_id = "f79d9487-fd6e-45e0-aaf1-ea9f2a69493d"

[vars]
ENVIRONMENT = "production"
API_VERSION = "v1"
