@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import SCSS brand system */
@import "./scss/abstracts/_brand-config.scss";
@import "./scss/abstracts/_helpers.scss";
@import "./scss/abstracts/_theme.scss";
@import "./scss/components/_button.scss";
